fastapi==0.110.0
pydantic==2.6.3
redis==5.0.1
uvicorn==0.27.1
pyjwt==2.8.0
pydantic_settings==2.2.1
redis==5.0.1
SQLAlchemy~=2.0.27
alembic~=1.13.1
psycopg2~=2.9.9
asyncpg~=0.29.0
python-multipart~=0.0.9

aiohttp~=3.9.3
cachetools~=5.3.3
aiocache~=0.12.2